
{% extends "base.html" %} {% block title %}Home | Nitol{% endblock %} 
{%block content %}
{% load static %}
<div>
    <!-- Hero Section -->
    <section class="w-full h-[60vh] relative">

        <!-- Background Image -->
        <img src="{% static 'images/hero.jpg' %}"
            class="w-full h-full object-cover">

        <!-- Overlay -->
        <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
            
            <div class="text-center text-white px-4">
            <h1 class="text-3xl sm:text-5xl font-bold mb-4">
                Embrace Natural Beauty 🌿
            </h1>
            <p class="text-sm sm:text-lg mb-6">
                Organic products crafted for your skin
            </p>

            <a href="/products/"
                class="bg-green-600 hover:bg-green-700 px-6 py-3 rounded-lg">
                Shop Now
            </a>
            </div>

        </div>

    </section>

    <!-- Search Box -->
    {% include "includes/components/searchbox.html" %}

    <!-- Offers Section -->
    <section class="p-6">
        <h2 class="text-2xl font-bold mb-4 dark:text-white flex justify-center">
            🔥 Special Offers
        </h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">

            {% for product in offered_products %}
            {% include "includes/components/productCard.html" %}
            {% endfor %}

        </div>
    </section>

    <!-- For You Section -->
    <section class = "p-6">
        <h2 class="text-2xl font-bold mb-4 dark:text-white flex justify-center">
            For You
        </h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">

            {% for product in for_you_products %}
            {% include "includes/components/productCard.html" %}
            {% endfor %}

        </div>
    </section>
</div>
{% endblock %}
