{% load static %} {% load tailwind_tags %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Nitol Naturals{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    {% tailwind_css %}
  </head>

  <!-- Add dark mode support -->
  <body class="bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <!-- Navbar -->
    {% include "includes/navbar.html" %}

    <!-- Main Content -->
    <main class="min-h-screen px-4 sm:px-6 lg:px-8">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "includes/footer.html" %}
  </body>
</html>
